.app-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  width: auto;
  height: auto;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 10vh;
  max-width: 600px;
  margin: 1% 0.5%;
  background-color: #c4c4c4;
  
}

.card > p {
  width: 89%;
  word-wrap: break-word;
}

.card-actions {
  display: flex;
  margin-left: 4%;
}

.icon-edit, .icon-delete {
  border-radius: 5px;
  cursor: pointer;
}

.icon-edit {
  color: #fff;
}

.icon-edit:hover {
  background-color: rgba(0, 0, 255, 0.671);
}

.icon-delete {
  color: #fff;
}

.icon-delete:hover {
  background-color: rgba(255, 0, 0, 0.733);
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: none;
  border: solid 1px #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}