.card {
  background-color: aqua;
}

.icon-edit, .icon-delete {
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.icon-edit {
  color: #fff;
}

.icon-edit:hover {
  background-color: rgba(0, 0, 255, 0.671);
}

.icon-delete {
  margin-right: 10px;
  color: #fff;
}

.icon-delete:hover {
  background-color: rgba(255, 0, 0, 0.733);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: none;
  border: solid 1px #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

