*{
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.title {
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
}
.main-content {
  /* margin-top: 10%; */
  width: 100%;
  height: 100%;
  background-image: url(../assets/office.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: absolute;
  z-index: 0;
}
.form-content {
  /* background-color: white;
  width: 300px;
  height: 300px; */
  margin-top: 10%;
}
.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}