*{
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.title {
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
}
.main-content {
  margin-top: 10%;
}
.app-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
