.main-content {
  padding: 0;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 20vh;
  border-radius: 10px;
  background-color: #fff ;
  color: #000;
}

.text-label {
  font-size: 1vw;
}
.add-todo {
  margin-top: 5%;
}
.text-btn {
  text-transform: uppercase;
  text-align: center;
  margin-left: 10%;
  width: 150px;
}

