.main-content {
  padding: 0;
  margin: 0;
  display: flex;
}

.text-label {
  font-size: 1vw;
}
.add-todo {
  margin-top: 5%;
}
.text-btn {
  text-transform: uppercase;
  text-align: center;
  margin-left: 10%;
  width: 150px;
}

